<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties" />       
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">        
        <layout>            
            <pattern><![CDATA[ %d %p %t [%c] - <%m>%n ]]></pattern>        
            </layout>        
            <exchangeName>log-exchange</exchangeName>        
            <host>rabbitmq</host>        
            <port>5672</port>        
            <username>guest</username>        
            <password>guest</password>        
            <exchangeType>direct</exchangeType>        
            <applicationId>Catalog-Data</applicationId>        
            <routingKeyPattern>center-log-queue</routingKeyPattern>        
            <generateId>true</generateId>        
            <charset>UTF-8</charset>        
            <durable>false</durable>        
            <maxSenderRetries>2</maxSenderRetries>
            <deliveryMode>NON_PERSISTENT</deliveryMode>    
        </appender>    
          <root level="info">        
            <appender-ref ref="AMQP" />    
          </root>
</configuration>